# class                 border  bground text    indicator child_border
client.focused          #bd93f9 #bd93f9 #282a36 #bd93f9   #bd93f9
client.focused_inactive #282a36 #282a36 #f8f8f2 #282a36   #282A36
client.unfocused        #282A36 #282A36 #f8f8f2 #282a36   #282A36
client.urgent           #44475A #FF5555 #F8F8F2 #FF5555   #FF5555
client.placeholder      #282A36 #282A36 #F8F8F2 #282A36   #282A36

client.background       #F8F8F2

#lient.focused_inactive #bd93f9 #282a36 #f8f8f2 #282a36   #bd93f9
#lient.unfocused        #bd93f9 #282A36 #f8f8f2 #282a36   #bd93f9
#bar {
#  colors {
#    background #282A36
#    statusline #F8F8F2
#    separator  #44475A

#    focused_workspace  #44475A #44475A #F8F8F2
#    active_workspace   #282A36 #44475A #F8F8F2
#    inactive_workspace #282A36 #282A36 #BFBFBF
#    urgent_workspace   #FF5555 #FF5555 #F8F8F2
#    binding_mode       #FF5555 #FF5555 #F8F8F2
#  }
#}
bindsym $alt+$mod+d exec "dmenu_run -nf '#F8F8F2' -nb '#282A36' -sb '#bd93f9' -sf '#F8F8F2' -fn 'monospace-10' -p 'dmenu%'"
