# kill focused window
bindsym $alt+q kill
# change Focus
bindsym $alt+Left focus left
bindsym $alt+Down focus down
bindsym $alt+Up focus up
bindsym $alt+Right focus right
# change fucused window position
bindsym $alt+Shift+Left move left
bindsym $alt+Shift+Down move down
bindsym $alt+Shift+Up move up
bindsym $alt+Shift+Right move right

# split orientation
bindsym $mod+h split h
bindsym $mod+v split v
# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle
# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split
# toggle tiling / floating
bindsym $mod+Shift+space floating toggle
# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle
# focus the parent container
bindsym $mod+a focus parent

bindsym ctrl+shift+$alt+equal mode "nosc" 

mode "nosc" {

bindsym ctrl+shift+$alt+equal mode "default"

}

# switch to workspace
bindsym $mod+1 workspace number $ws1
bindsym $mod+2 workspace number $ws2
bindsym $mod+3 workspace number $ws3
bindsym $mod+4 workspace number $ws4
bindsym $mod+5 workspace number $ws5
bindsym $mod+6 workspace number $ws6
bindsym $mod+7 workspace number $ws7
bindsym $mod+8 workspace number $ws8
bindsym $mod+9 workspace number $ws9
# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace number $ws1
bindsym $mod+Shift+2 move container to workspace number $ws2
bindsym $mod+Shift+3 move container to workspace number $ws3
bindsym $mod+Shift+4 move container to workspace number $ws4
bindsym $mod+Shift+5 move container to workspace number $ws5
bindsym $mod+Shift+6 move container to workspace number $ws6
bindsym $mod+Shift+7 move container to workspace number $ws7
bindsym $mod+Shift+8 move container to workspace number $ws8
bindsym $mod+Shift+9 move container to workspace number $ws9

# reload the configuration file
bindsym $mod+Shift+c reload
# exit i3 (logs you out of your X session)
bindsym $mod+shift+e exec i3-msg exit


#Window size setting ALT+arrowkey

bindsym $alt+k resize grow height 1 px or 1 ppt
bindsym $alt+j resize shrink height 1 px or 1 ppt
bindsym $alt+l resize grow width 1 px or 1 ppt
bindsym $alt+h resize shrink width 1 px or 1 ppt


#GAP Setting  CTRL+ALT+arrowkey

bindsym $alt+ctrl+k gaps outer current minus 2
bindsym $alt+ctrl+j gaps outer current plus 2
bindsym $alt+ctrl+l gaps inner current minus 2
bindsym $alt+ctrl+h gaps inner current plus 2





#  Spotify Play-Pause  ctrl+.
bindsym ctrl+period exec --no-startup-id playerctl play-pause -p spotify
bindsym ctrl+slash exec --no-startup-id playerctl next -p spotify
bindsym ctrl+comma exec --no-startup-id playerctl previous -p spotify
bindsym ctrl+$alt+period exec --no-startup-id playerctl play-pause 


#set fn+Fx key
bindsym XF86AudioRaiseVolume exec --no-startup-id pulseaudio-ctl up
bindsym XF86AudioLowerVolume exec --no-startup-id pulseaudio-ctl down
bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute @DEFAULT_SINK@ toggle 
bindsym XF86AudioMicMute exec --no-startup-id pactl set-source-mute @DEFAULT_SOURCE@ toggle  
bindsym XF86MonBrightnessUp exec light -A 5
bindsym XF86MonBrightnessDown exec light -U 5 

