
###  Application Shortcut
bindsym $mod+Return exec $TERMINAL 
bindsym $mod+F1 exec "kitty zsh -c nnn" 
bindsym $mod+shift+F1 exec alacritty -e lf 
bindsym $mod+F2 exec waterfox-g4
bindsym $mod+F9 exec ~/.i3/layout/Spotify.sh


###  Scratchpad
bindsym $alt+1 exec --no-startup-id scratchpad.sh S_nnn "kitty nnn"
bindsym $alt+2 exec --no-startup-id scratchpad.sh S_browser "gtk-launch librewolf"
bindsym $alt+3 exec --no-startup-id scratchpad.sh S_note "kitty nvim $HOME/quicknote"
bindsym $alt+4 exec --no-startup-id scratchpad.sh S_music "kitty ncmpcpp"
bindsym $alt+5 exec --no-startup-id scratchpad.sh S_pulsemixer "kitty pulsemixer"





###  Misc Shortcut
bindsym ctrl+$alt+Delete exec rofi-powermenu.sh 
bindsym $mod+l exec ~/.script/lock.sh 
bindsym Print exec rofi-screenshot.sh
bindsym ctrl+$alt+equal exec polybar-msg cmd toggle
bindsym ctrl+shift+equal exec --no-startup-id polyreset.sh
bindsym $mod+d exec rofi -show drun 
bindsym ctrl+shift+F12 exec /home/rafif/.script/reset-picom.sh 
bindsym ctrl+$alt+shift+F12 exec /home/rafif/.script/reset-picom-so.sh 
bindsym ctrl+shift+l exec layout_manager.sh 
bindsym $mod+c exec config_editor.sh




#GAP Profile
