
####     MOD     ####


###  Application Shortcut
bindsym $mod+Return exec $TERMINAL 
bindsym $mod+F1 exec "kitty zsh -c nnn" 
bindsym $mod+F2 exec firefox
bindsym $mod+F9 exec com.spotify.Client
bindsym $mod+shift+F1 exec alacritty -e lf 



bindsym $mod+l exec  --no-startup-id lock.sh 
bindsym $mod+shift+l exec layout_manager.sh 



bindsym $mod+d exec rofi -show drun 


bindsym $mod+p exec screen-setting.sh
bindsym $mod+shift+p exec  --no-startup-id zsh -c passmenu



bindsym --release $mod+shift+s exec scrot -sf $HOME/Pictures/ScreenShot/screenshot_%d-%m-%Y_%H-%M-%S.png -e 'xclip -sel c -t image/png $f'
# bindsym --release $mod+p exec kitty --hold xprop
	
####    ALT    ####


###  Scratchpad
bindsym $alt+1 exec --no-startup-id scratchpad.sh S_nnn "kitty nnn"
bindsym $alt+2 exec --no-startup-id scratchpad.sh S_browser "gtk-launch librewolf"
bindsym $alt+3 exec --no-startup-id scratchpad.sh S_note "kitty nvim $HOME/quicknote"
bindsym $alt+4 exec --no-startup-id scratchpad.sh S_music "kitty ncmpcpp"
bindsym $alt+5 exec --no-startup-id scratchpad.sh S_pulsemixer "kitty pulsemixer"
bindsym $alt+Return exec --no-startup-id scratchpad.sh S_term "kitty"




bindsym $alt+equal exec  --no-startup-id polyhide.sh
bindsym $alt+shift+equal exec --no-startup-id polyreset.sh


bindsym $alt+c exec config-editor.sh
bindsym $alt+shift+c exec script-editor.sh

bindsym $alt+F12 exec  --no-startup-id ~/.local/bin/script/reset-picom.sh 
bindsym $alt+shift+F12 exec  --no-startup-id ~/.local/bin/script/reset-picom-so.sh 

###  Misc Shortcut
bindsym ctrl+$alt+Delete exec rofi-powermenu.sh 
bindsym Print exec rofi-screenshot.sh







#GAP Profile
