
exec --no-startup-id startup.sh
exec --no-startup-id autorandr --change
exec --no-startup-id xset dpms 600 3600
exec --no-startup-id xss-lock --transfer-sleep-lock -- lock.sh --nofork
exec --no-startup-id bash .local/share/i3/layout/ws1.sh&
exec --no-startup-id setxkbmap -option caps:escape 


# exec --no-startup-id mopidy &

gaps outer 5
gaps inner 5
gaps top 29

# exec  --no-startup-id xinput set-prop "ETPS/2 Elantech Touchpad" "libinput Tapping Enabled" 1 */
# exec  --no-startup-id xinput set-prop "ETPS/2 Elantech Touchpad" "libinput Natural Scrolling Enabled" 1
