

exec --no-startup-id autorandr --change; xwallpaper --zoom $XDG_CONFIG_HOME/Background
exec --no-startup-id xset dpms 600 3600
exec --no-startup-id xss-lock --transfer-sleep-lock -- lock.sh --nofork
exec --no-startup-id bash .local/share/i3/layout/ws1.sh&
exec --no-startup-id picom --config ~/.config/picom/picom.conf --experimental-backends&
exec --no-startup-id bash ~/.config/polybar/launch.sh &
exec --no-startup-id dunst &
exec --no-startup-id touchegg & 

gaps outer 5
gaps inner 5

# exec  --no-startup-id xinput set-prop "ETPS/2 Elantech Touchpad" "libinput Tapping Enabled" 1 */
# exec  --no-startup-id xinput set-prop "ETPS/2 Elantech Touchpad" "libinput Natural Scrolling Enabled" 1
