for_window [class="Spotify"] move --no-auto-back-and-forth  container to workspace $ws9

for_window [class="Pavucontrol"] floating enable 
for_window [class="ncmpcpp"] floating enable 
for_window [class="Wihotspot-gui"] floating enable 
for_window [class="scrcpy"] floating enable 
for_window [class="Kitty_edit"] floating enable 
#for_window [class=""] floating enable 
#for_window [class=""] floating enable 
