for_window [class="Spotify"] move --no-auto-back-and-forth  container to workspace 9
for_window [class="obsidian"] move --no-auto-back-and-forth  container to workspace 7
for_window [class="firefox"] move --no-auto-back-and-forth  container to workspace 2
for_window [class="TelegramDesktop"] move --no-auto-back-and-forth  container to workspace 8
for_window [class="discord"] move --no-auto-back-and-forth  container to workspace 8

for_window [class="Pavucontrol"] floating enable 
for_window [class="ncmpcpp"] floating enable 
for_window [class="Wihotspot-gui"] floating enable 
for_window [class="scrcpy"] floating enable 
for_window [class="Kitty_edit"] floating enable 
for_window [class="blueman-manager"] floating enable 
#for_window [class=""] floating enable 
